
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}


.contenido {
    max-width: 20%;
    
}


/* titulo destacados*/
.tittle {
    text-align: center;
    font-weight: 400;
    font-optical-sizing: auto;
}

/* padding para todas las secciones*/
#quienes {
    padding-left: 12%;
    padding-right: 12%;
    
}

/*fondo de iconos en columnas de texto 
.col svg {
    background-color: rgb(16, 191, 245);
    width: 100%;
     
} */


.col-md-6.container-fluid {
    max-width: 30%; /* limita el ancho  de su contenedor padre */

  }


/*estilo para formulario*/
.bg-white{
    background-color: white;
    color: black;
}

/*estilo para destacados*/
.bg-cyan{
    background-color: #00cdf2;
    color: white
}

.blackwhite{
    background-color: black;
    color: rgb(255, 255, 255);
    
}
/* estilo para titulos de secciones*/
.section-title {
    color: rgb(249, 249, 247);
    font-size: 1.5rem;
    padding-top: 3rem;
    font-weight: 400;
}
/* estilo para parrafos en Q-somos?*/
.section-paragraph {
    color: white;
    font-size: 0.8em;
    text-align: left;
}

/* estilo para textos en tarjetas*/
.card-title {
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    
}
.card-text {
    font-size: 0.8em;
    padding-bottom: 5px;
    text-align: left;
    font-weight: 200;
}


#contenido {
    padding-bottom: 30px;
}