
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}


.contenido {
    max-width: 20%;
    
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*
.navbar-brand {
    
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 46px;
        padding-left: 15%;
    
}  */

.tittle {
    text-align: center;
    font-weight: 400;
    font-optical-sizing: auto;
}
.icon {
    align-items: flex-end;
    
}

.quienes {
    background-color: black;
    color: white;
    font-weight: 100;
    margin-top: 0px;
}



.col svg {
    background-color: rgb(16, 191, 245);
    width: 100%;
     
}


.col-md-6.container-fluid {
    max-width: 30%; /* limita el ancho  de su contenedor padre */

  }

.texto-limitado {
    max-width: 70%;  /* porcentaje según el margen derecho  */
    color: #3c373c;
    font-family: "cabin", bold;
    font-weight: 700;
    font-style: normal;
    /* font-size: 46px;*/
    padding-left: 5px; 
    padding-top: 50px;
    font-optical-sizing: auto;
        
}

.bg-white{
    background-color: white;
    color: black;
}
.bg-cyan{
    background-color: #00cdf2;
    color: white
}
.blackwhite{
    background-color: black;
    color: white;
}

